body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, rgb(244, 233, 167) , rgb(177, 225, 233));
  background-attachment: fixed;

}

.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  margin: 5rem ;
  row-gap: 2rem;
  
}

.container{
  border: 1px solid aqua;
  border-radius: 2rem;
  width: 25rem;
  padding: 1.2rem;
  background-image: radial-gradient(#fff 0%, #45c4fa 100% );
  box-shadow: 5px 10px 18px aqua ;
  
  
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight:500;
}

.picture{
  border-radius: 50%;
}

.svg{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.svg, h4{
  margin: 0.3rem 1rem;
}

.card-footer{
  font-size: 1.2rem;
  font-weight: 500;
}

button{
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  background-image: linear-gradient(to right, #040d5b 0%, #33648f 50%, #0312a0 100%);
  color: rgb(213, 213, 227);
  background-size: 200% auto;
  box-shadow: 0 0 10px aqua;
  font-weight: bold;
}
button:hover{
  transition: 0.2s;
  background-position: right center;
  padding: 10px 35px;

}